#dashboard {
    padding: 50px;
}

#schedule {
    max-width: 600px;

    * {
        @include text;
    }

    h2 {
        @include h2;
    }

    #navigator {
        background-color: $light-grey;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;

        * {
            color: $main-purple;
            font-size: 16px;
        }

        img:not(.disabled) {
            cursor: pointer;
        }

        .disabled {
            pointer-events: none;
            opacity: .5;
        }
    }

    .schedule-course {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 5px;
        padding: 15px 20px;
        border-bottom: 1px solid $light-grey;

        p:first-of-type,
        p:nth-of-type(3) {
            @include font-Bold;
        }
    }

    a {
        margin-top: 30px;
        text-decoration: none;
        color: $main-purple;
        display: flex;
        align-items: center;

        img {
            height: 12px;
            margin-left: 20px;
        }
    }
}