@mixin primary-links {
    flex-grow: 2;
    margin-top: 60px;


    a {
        color: $main-white;
        text-decoration: none;
        display: block;
        padding: 5px 20px;


        &:hover {
            background-color: $light-purple;


            li object {
                background-color: $light-purple;
            }


            li object a {
                background-color: $light-purple;
                border-color: $light-purple;
            }
        }


        &:focus {
            background-color: $extra-light-purple;
            outline: none;


            li object {
                background-color: $extra-light-purple;
            }


            li object a {
                background-color: $extra-light-purple;
                border-color: $extra-light-purple;
            }
        }


        &:hover,
        &:focus {
            li object {
                grid-row: 1 / 2;
                grid-column: 3;
                position: relative;
                top: 0;
                left: 0;


                a:hover {
                    background-color: $extra-light-purple;
                    border-color: $light-purple;
                }
            }
        }


        li {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: 18px auto;
            grid-column-gap: 10px;


            img {
                grid-row: 1 / 2;
                align-self: start;
                max-height: 30px;
            }


            p {
                grid-column: 2;


                &:first-of-type {
                    font-size: 18px;
                    text-transform: uppercase;
                }


                &:last-of-type {
                    font-size: 12px;
                    color: $light-white;
                }
            }


            object {
                @include hide;


                &:focus-within {
                    grid-row: 1 / 2;
                    grid-column: 3;
                    position: relative;
                    top: 0;
                    left: 0;
                }


                a {
                    background-color: $main-purple;
                    padding: 0;
                    width: 28px;
                    height: 28px;
                    border: 1px solid $main-purple;
                    border-radius: 999px;
                    background-image: url(../media/icons/detail.svg);
                    background-repeat: no-repeat;
                    background-position: center;


                    &:hover {
                        background-color: $extra-light-purple;
                        border-color: $light-purple;
                    }
                }
            }
        }
    }
}