@import "../../global/fonts/mixins";
@import "../../global/mixins.scss";

@mixin search {
    //used calc() to include padding of account for first list item padding (7.5px)
    padding: 20px 20px calc(20px - 7.5px) 20px;


    fieldset {
        //used calc() to account for home icon (menu-width - home-icon - gap - padding))
        width: calc(#{$menu-width} - 30px - 10px - 40px);
        border: 1px solid $dark-purple;
        border-radius: 999px;
        background-color: $dark-purple;
        background-image: url(../media/icons/search.svg);
        background-repeat: no-repeat;
        background-position: 8px center;
        background-size: 15px 15px;
        position: relative;
        margin-left: 40px;


        @media only screen and (max-width: $max-mobile-width) {
            //used calc() to account for home icon (menu-width - home-icon - gap - padding))
            width: calc(100vw - 30px - 10px - 40px);
        }


        input[type=submit] {
            //only used for noscript support and as addEventListener target for search icon (background-image of containing fieldset element)
            border: none;
            background-color: transparent;
            height: 24px;
            width: 30px;
            position: relative;
            top: 2px;
            cursor: pointer;
        }


        input[type=search] {
            @include font-Regular;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 14px;
            color: $main-white;
            position: relative;
            top: -4px;
            left: 5px;
            //used calc() to account for home icon (menu-width - home-icon - margin)
            width: calc($menu-width - 30px - 10px);


            &::placeholder {
                color: $light-white;
            }


            &::-webkit-search-cancel-button {
                @include hide;
            }
        }



        #search-reset {
            position: absolute;
            top: 0;
            right: 5px;
            padding: 9px;
            cursor: pointer;


            &.hide {
                @include hide;
            }
        }
    }
}