<div id="announcements">

    <h2>Mededelingen</h2>

    <div id="announcements-container">
        <% announcements.forEach((announcement, i) => { %>
        <a href="/announcements/<%= announcement.newsItemId %>" target="_self">
            <div class="announcement" id="<%= announcement.newsItemId %>">
                <p><%= announcement.title %></p>
                <p><%= announcement.publishDate %></p>
            </div>
        </a>
        <% }) %>
    </div>

    <% if (pageName === 'dashboard') { %>
    <a href="/announcements">Alle mededelingen
        <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
    </a>
    <% } %>

</div>