<div id="course-overview">

    <h2>Vakkenoverzicht</h2>

    <div class="navigator">
        <span>Jaar <%= courseOverview[2].year %> - Blok <%= courseOverview[2].quarters[3].quarter %></span>
    </div>

    <div id="course-overview">
        <% courseOverview[2].quarters[3].courses.forEach(item => { %>
        <div class="course">
            <p><%= item.course %></p>

            <ul>
                <% item.lecturers.forEach(lecturer => { %>
                <% if (lecturer === '') { %>
                <li>Geen specifieke docent</li>
                <% } else { %>
                <li><%= lecturer %></li>
                <% } %>
                <% }) %>
            </ul>
        </div>
        <% }) %>
    </div>

    <a target="_blank" href="https://sis.hva.nl/">Volledig overzicht
        <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
    </a>
</div>