<aside id="menu" class="hide">
    <a href="/" id="home-icon-container">
        <div id="home-icon"></div>
    </a>

    <div id="menu-icon"></div>

    <%- include('search') %>
    <%- include('primary-links') %>
    <%- include('secondary-links') %>
</aside>