<aside id="menu" class="hide">

    <div id="mobile-menu-header">
        <a href="/" id="home-icon-container">
            <div id="home-icon"></div>
        </a>

        <div id="menu-icon"></div>
    </div>

    <div id="menu-scroll-container">
        <%- include('search') %>
        <%- include('primary-links') %>
        <%- include('secondary-links') %>

        <a href="/information" id="information-link">
            <div>
                <img src="media/icons/information.svg" alt="Information icon">
                <p>Meer Informatie</p>
                <p>informatie over externe websites</p>
            </div>
        </a>
    </div>
</aside>

<div id="menu-overlay"></div>