<aside id="menu" class="show">
    <a href="/">
        <div id="home-icon"></div>
    </a>

    <div id="menu-icon"></div>

    <%- include('search') %>
    <%- include('primary-links') %>
    <%- include('secondary-links') %>
</aside>