<ul id="menu-primary-links">
    <a href="/account">
        <li>
            <img src="media/icons/account.svg" alt="Account icon">
            <p>Account</p>
            <p>persoonlijke gegevens en voorkeuren</p>
        </li>
    </a>

    <a target="_blank" href="https://rooster.hva.nl/schedule">
        <li>
            <img src="media/icons/timetable.svg" alt="Timetable icon">
            <p>Rooster</p>
            <p>vak en college roosters</p>
        </li>
    </a>

    <a target="_blank" href="https://dlo.mijnhva.nl">
        <li>
            <img src="media/icons/course.svg" alt="Course icon">
            <p>Vakkenoverzicht</p>
            <p>vak informatie</p>
        </li>
    </a>

    <a target="_blank" href="https://sis.hva.nl">
        <li>
            <img src="media/icons/progress.svg" alt="Study icon">
            <p>Studievoortgang</p>
            <p>cijfers en studievoortgang</p>
        </li>
    </a>

    <a href="/announcements">
        <li>
            <img src="media/icons/announcements.svg" alt="Announcements icon">
            <p>Mededelingen</p>
            <p>nieuws en mededelingen</p>
        </li>
    </a>
</ul>