<ul id="menu-primary-links">
    <a href="/account">
        <li>
            <img src="media/images/test.png" alt="Account icon">
            <p>Account</p>
            <p>personal data and preferences</p>
        </li>
    </a>

    <a href="">
        <li>
            <img src="media/images/test.png" alt="Timetable icon">
            <p>Timetable</p>
            <p>course and lecture schedules</p>

            <object>
                <a href="/timetable"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <img src="media/images/test.png" alt="Course icon">
            <p>Course Overview</p>
            <p>course information</p>

            <object>
                <a href="/course_overview"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <img src="media/images/test.png" alt="Study icon">
            <p>Study Progress</p>
            <p>grades and study progress</p>

            <object>
                <a href="/study_progress"></a>
            </object>
        </li>
    </a>

    <a href="/announcements">
        <li>
            <img src="media/images/test.png" alt="Announcements icon">
            <p>Announcements</p>
            <p>news and announcements</p>
        </li>
    </a>
</ul>