<form action="/search" method="POST" id="search-container">
    <fieldset>
        <input type="submit" value="" tabindex="-1">
        <input type="search" id="search-bar" name="search" placeholder="Search ('/' to focus)" autocomplete="off">
        <img src="media/icons/exit.svg" alt="reset icon" id="search-reset" class="hide">
    </fieldset>
</form>