<ul id="menu-secondary-links">
    <a href="">
        <li>
            <p>Brightspace</p>
            <p>courses and assignments</p>

            <object>
                <a href="/brightspace"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>SIS</p>
            <p>grades, study progress and enrollment</p>

            <object>
                <a href="/sis"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Mail</p>
            <p>mail inbox</p>

            <object>
                <a href="/mail"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Events</p>
            <p>HvA calendar</p>

            <object>
                <a href="/events"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Teamsites</p>
            <p>collaborative digital workspaces</p>

            <object>
                <a href="/teamsites"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>A-Z list</p>
            <p>study information point</p>

            <object>
                <a href="/az_list"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Staff</p>
            <p>list of HvA staff contact</p>

            <object>
                <a href="/staff"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Locations</p>
            <p>list of HvA facilities</p>

            <object>
                <a href="/locations"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Library</p>
            <p>books, databases and journals</p>

            <object>
                <a href="/library"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Studies</p>
            <p>list of HvA studies</p>

            <object>
                <a href="/studies"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>HvA Organisation</p>
            <p>info about HvA</p>

            <object>
                <a href="/hva_organisation"></a>
            </object>
        </li>
    </a>

    <a href="">
        <li>
            <p>Help</p>
            <p>FAQ and digital service point</p>

            <object>
                <a href="/help"></a>
            </object>
        </li>
    </a>
</ul>