<ul id="menu-secondary-links">
    <a href="/brightspace">
        <li>
            <p>Brightspace</p>
            <p>courses and assignments</p>
        </li>
    </a>

    <a href="/sis">
        <li>
            <p>SIS</p>
            <p>grades, study progress and enrollment</p>
        </li>
    </a>

    <a href="/mail">
        <li>
            <p>Mail</p>
            <p>mail inbox</p>
        </li>
    </a>

    <a href="/events">
        <li>
            <p>Events</p>
            <p>HvA calendar</p>
        </li>
    </a>

    <a href="/teamsites">
        <li>
            <p>Teamsites</p>
            <p>collaborative digital workspaces</p>
        </li>
    </a>

    <a href="/az_list">
        <li>
            <p>A-Z list</p>
            <p>study information point</p>
        </li>
    </a>

    <a href="/staff">
        <li>
            <p>Staff</p>
            <p>list of HvA staff contact</p>
        </li>
    </a>

    <a href="/locations">
        <li>
            <p>Locations</p>
            <p>list of HvA facilities</p>
        </li>
    </a>

    <a href="/library">
        <li>
            <p>Library</p>
            <p>books, databases and journals</p>
        </li>
    </a>

    <a href="/studies">
        <li>
            <p>Studies</p>
            <p>list of HvA studies</p>
        </li>
    </a>

    <a href="/hva_organisation">
        <li>
            <p>HvA Organisation</p>
            <p>info about HvA</p>
        </li>
    </a>

    <a href="/help">
        <li>
            <p>Help</p>
            <p>FAQ and digital service point</p>
        </li>
    </a>
</ul>