<ul id="menu-secondary-links">
    <a href="/brightspace">
        <li>
            <p>Brightspace</p>
            <p>vakken en opdrachten</p>
        </li>
    </a>

    <a href="/sis">
        <li>
            <p>SIS</p>
            <p>cijfers, studievoortgang en inschrijvingen</p>
        </li>
    </a>

    <a href="/mail">
        <li>
            <p>Mail</p>
            <p>mail inbox</p>
        </li>
    </a>

    <a href="/events">
        <li>
            <p>Evenementen</p>
            <p>HvA kalender</p>
        </li>
    </a>

    <a href="/teamsites">
        <li>
            <p>Teamsites</p>
            <p>gezamelijke digitale werkruimten</p>
        </li>
    </a>

    <a href="/az_list">
        <li>
            <p>A-Z lijst</p>
            <p>studie informatie punt</p>
        </li>
    </a>

    <a href="/staff">
        <li>
            <p>Medewerkers</p>
            <p>lijst van HvA medewerkers</p>
        </li>
    </a>

    <a href="/locations">
        <li>
            <p>Locaties</p>
            <p>lijst van HvA faciliteiten</p>
        </li>
    </a>

    <a href="/library">
        <li>
            <p>Bibliotheek</p>
            <p>boeken en databases</p>
        </li>
    </a>

    <a href="/studies">
        <li>
            <p>Studies</p>
            <p>lijst van HvA studies</p>
        </li>
    </a>

    <a href="/hva_organisation">
        <li>
            <p>HvA Organisatie</p>
            <p>info over HvA</p>
        </li>
    </a>

    <a href="/help">
        <li>
            <p>Hulp</p>
            <p>FAQ and digitaal service punt</p>
        </li>
    </a>
</ul>