<ul id="menu-secondary-links">
    <a target="_blank" href="https://dlo.mijnhva.nl">
        <li>
            <p>Brightspace</p>
            <p>vakken en opdrachten</p>
        </li>
    </a>

    <a target="_blank" href="https://sis.hva.nl">
        <li>
            <p>SIS</p>
            <p>cijfers, studievoortgang en inschrijvingen</p>
        </li>
    </a>

    <a target="_blank" href="http://email.hva.nl/">
        <li>
            <p>Mail</p>
            <p>mail inbox</p>
        </li>
    </a>

    <a target="_blank" href="https://nieuws-mededelingen.mijnhva.nl/">
        <li>
            <p>Evenementen</p>
            <p>HvA kalender</p>
        </li>
    </a>

    <a target="_blank" href="https://teamsites.mijnhva.nl/">
        <li>
            <p>Teamsites</p>
            <p>gezamelijke digitale werkruimten</p>
        </li>
    </a>

    <a target="_blank" href="https://student.hva.nl/cmd/a-z/az.html">
        <li>
            <p>A-Z lijst</p>
            <p>studie informatie punt</p>
        </li>
    </a>

    <a target="_blank" href="https://www.hva.nl/over-de-hva/contact/vind-medewerker/vind-medewerker.html">
        <li>
            <p>Medewerkers</p>
            <p>lijst van HvA medewerkers</p>
        </li>
    </a>

    <a target="_blank" href="https://www.hva.nl/over-de-hva/locaties/locaties.html">
        <li>
            <p>Locaties</p>
            <p>lijst van HvA faciliteiten</p>
        </li>
    </a>

    <a target="_blank" href="https://www.hva.nl/bibliotheek">
        <li>
            <p>Bibliotheek</p>
            <p>boeken en databases</p>
        </li>
    </a>

    <a target="_blank" href="https://courseselector.mijnhva.nl/">
        <li>
            <p>Studies</p>
            <p>lijst van HvA studies</p>
        </li>
    </a>

    <a target="_blank" href="https://www.hva.nl/over-de-hva/organisatie/bestuur-en-afdelingen.html">
        <li>
            <p>HvA Organisatie</p>
            <p>info over HvA</p>
        </li>
    </a>

    <a target="_blank" href="https://help.mijnhva.nl/">
        <li>
            <p>Hulp</p>
            <p>FAQ and digitaal service punt</p>
        </li>
    </a>
</ul>