<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="/media/icons/favicon.png" />
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/master.css">
    <title>Education Portal</title>
</head>

<body>

    <%- include('../partials/menu/menu') %>

    <%- body %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js" type="module"></script>
    <script>
    //register service worker
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js', {
                    scope: '/'
                })
                .then(registration => registration.update())
                .catch(err => console.log(`ServiceWorker failed registration: ${err}`))
        })
    }
    </script>
</body>

</html>