<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <title>Web Design 1920</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <%- body %>

    <%- include('../partials/footer.ejs') %>

    <script src="/js/index.js"></script>
</body>

</html>