#account {
    @include text;
    @include divider;

    h2 {
        @include h2;
    }

    h3 {
        @include h3;
    }

    form {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        &.disabled label {
            pointer-events: none;
            opacity: 0.7;
        }

        label {
            padding: 8vh 0px;
            display: block;
            text-align: center;
            border: 2px solid $main-purple;

            &:hover {
                cursor: move;
            }

            // Drag and drop styling            
            &.sortable-chosen.sortable-ghost {
                opacity: 0;
            }

            &.sortable-drag,
            .sortable-ghost {
                box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
                background-color: $main-white;
                opacity: 1;
            }

            &.optional-location {
                border: 2px solid $main-purple;
                border-style: dashed;
                transform: scale(.95);
            }

            &.off {
                border: 2px solid $light-grey;
            }

            &.off.optional-location {
                border-style: dashed;
            }

            input {
                display: none;
            }
        }

        @media only screen and (max-width: 1300px) {
            display: flex;
            flex-direction: column;

            label:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }
    }
}