@import 'dashboard/timetable';
@import 'dashboard/results';
@import 'dashboard/course-overview';
@import 'dashboard/announcements';

#dashboard {
    &.showsNotification #widget-container {
        margin-top: 30px;
    }

    &:not(.showsNotification) #widget-container {
        margin-top: 80px;
    }

    section {
        @include text;
        margin-bottom: 50px;

        #widget-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;
            margin: 80px 5vw;

            @media only screen and (max-width: 1300px) {
                grid-template-columns: 1fr;
            }
        }

        @media only screen and (max-width: $max-tablet-width) {
            margin-top: 60px;
        }
    }
}