@import "../global/fonts/mixins";
@import "menu/search";
@import "menu/primary-links";
@import "menu/secondary-links";
@import "menu/more-information";
@import "menu/fallback-menu.scss";

#menu {
    @include font-Regular;
    color: $main-white;
    box-sizing: border-box;
    background-color: $main-purple;
    width: $menu-width;
    z-index: 2;

    @media only screen and (max-width: $max-mobile-width) {
        width: 100vw;
    }

    @media only screen and (max-width: $max-tablet-width) {
        position: fixed;
    }

    &.hide {
        @media only screen and (max-width: $max-tablet-width) {
            @include hide;

            #home-icon {
                background-image: url(../media/icons/hva-logo-purple.svg);
                position: fixed;
                left: unset;
                right: 20px;
            }

            #menu-icon {
                top: 20px;
                left: 20px;
                background-image: url(../media/icons/hamburger-purple.svg);

                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &+#menu-overlay {
            @include hide;
        }
    }

    &:not(.hide) {
        @media only screen and (max-width: $max-tablet-width) {
            #mobile-menu-header {
                @include hide;
            }
        }
    }

    &+#menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $opacity-black;
        z-index: 1;

        @media only screen and (min-width: $max-tablet-width) {
            @include hide;
        }
    }

    #mobile-menu-header {
        @media only screen and (max-width: $max-tablet-width) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 60px;
            background-color: $main-white;
        }
    }

    #home-icon-container:hover #home-icon {
        background-color: $light-purple;
        border: 1px solid $light-purple;
        border-radius: 999px;
    }

    #home-icon-container:focus #home-icon {
        background-color: $extra-light-purple;
        border: 1px solid $extra-light-purple;
        border-radius: 999px;
    }

    #home-icon {
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 15px;
        z-index: 2;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        background-image: url(../media/icons/hva-logo-white.svg);
        border: 1px solid transparent;
        border-radius: 999px;

        @media only screen and (max-width: $max-tablet-width) {
            @include hide;
        }
    }

    #menu-icon {
        @include hide;

        @media only screen and (max-width: $max-tablet-width) {
            position: fixed;
            top: 20px;
            left: 20px;
            // padding: 15px;
            z-index: 2;
            background-image: url(../media/icons/hamburger-white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;

            a {
                display: block;
                width: 30px;
                height: 30px;
            }
        }
    }

    #menu-scroll-container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;

        #search-container {
            @include search;
        }

        #menu-primary-links {
            @include primary-links;
        }

        #menu-secondary-links {
            @include secondary-links;
        }

        #information-link {
            @include more-information;
        }
    }

    &:not(.hide) {
        @media only screen and (max-width: $max-tablet-width) {
            #search-container {
                position: fixed;
                background-color: $main-purple;
            }

            #menu-primary-links {
                margin-top: 70px;
            }
        }
    }
}