<main id="<%= pageName %>" stylingname="resource">

    <section>
        <h2>Account</h2>

        <div>
            <h3>Dashboard aanpassen</h3>

            <p>Je dashboard bestaat uit widgets. Van deze widgets kun je bepalen in welke volgorde ze komen te staan en of ze zichtbaar mogen zijn.
                Om de volgorde aan te passen kun je onderstaande blokken verslepen. Om de widgets uit of aan te zetten kun je er op klikken.</p>

            <form id="preferences" class="disabled">
                <label id="0"><img src="media/icons/announcements-purple.svg" alt="icon"><input type="checkbox" checked>Mededelingen</label>
                <label id="1"><img src="media/icons/progress-purple.svg" alt="icon"><input type="checkbox" checked>Studieresultaten en
                    -voortgang</label>
                <label id="2"><img src="media/icons/course-purple.svg" alt="icon"><input type="checkbox" checked>Vakkenoverzicht</label>
                <label id="3"><img src="media/icons/timetable-purple.svg" alt="icon"><input type="checkbox" checked>Dagrooster</label>
            </form>
        </div>


        <span class="divider"></span>

        <div>
            <h3>Menu aanpassen</h3>

            <p>De resources in het menu zijn misschien niet altijd voor jou even handig. Met de onderstaande drag and drop kun je de volgorde
                aanpassen door ze te verslepen of aan- en uitzetten door erop te klikken.</p>

            <div id="main-container">
                <p>Resources</p>
                <form id="menu-preferences" class="disabled">
                    <label><input type="checkbox" checked>Brightspace</label>
                    <label><input type="checkbox" checked>SIS</label>
                    <label><input type="checkbox" checked>Mail</label>
                    <label><input type="checkbox" checked>Evenementen</label>
                    <label><input type="checkbox" checked>Teamsites</label>
                    <label><input type="checkbox" checked>A-Z lijst</label>
                    <label><input type="checkbox" checked>Medewerkers</label>
                    <label><input type="checkbox" checked>Locaties</label>
                    <label><input type="checkbox" checked>Bibliotheek</label>
                    <label><input type="checkbox" checked>Studies</label>
                    <label><input type="checkbox" checked>HvA Organisatie</label>
                    <label><input type="checkbox" checked>Hulp</label>
                </form>
            </div>
        </div>

    </section>