<main id="<%= pageName %>" stylingname="resource">

    <section>
        <h2>Account</h2>

        <div>
            <h3>Dashboard aanpassen</h3>

            <p>Je dashboard bestaat uit widgets. Van deze widgets kun je bepalen in welke volgorde ze komen te staan en of ze zichtbaar mogen zijn.
                Om de volgorde aan te passen kun je onderstaande blokken verslepen. Om de widgets uit of aan te zetten kun je er op klikken.</p>

            <form id="preferences" class="disabled">
                <label id="0"><input type="checkbox" checked>Mededelingen</label>
                <label id="1"><input type="checkbox" checked>Studieresultaten en -voortgang</label>
                <label id="2"><input type="checkbox" checked>Vakkenoverzicht</label>
                <label id="3"><input type="checkbox" checked>Dagrooster</label>
            </form>
        </div>

        <span class="divider"></span>

    </section>

</main>