<main id="<%= pageName %>" stylingname="resource">

    <section>

        <h2>Account</h2>

        <form class="disabled">
            <label id="0"><input type="checkbox" checked>Mededelingen</label>
            <label id="1"><input type="checkbox" checked>Studieresultaten en -voortgang</label>
            <label id="2"><input type="checkbox" checked>Vakkenoverzicht</label>
            <label id="3"><input type="checkbox" checked>Dagrooster</label>
        </form>

    </section>

</main>