<main id="<%= pageName %>" stylingName="details">

    <urgent-announcement message="" uid=""></urgent-announcement>

    <section>
        <h2><%= announcement.title %></h2>

        <p><%= announcement.content %></p>
    </section>
</main>