<main id="<%= pageName %>">

    <urgent-announcement message="" uid=""></urgent-announcement>
    <%- include('partials/schedule') %>
    <%- include('partials/course-overview') %>
    <%- include('partials/study-progress') %>

</main>