<main id="<%= pageName %>" stylingName="list-overview">

    <urgent-announcement message="" uid=""></urgent-announcement>

    <section>
        <%- include('partials/announcements') %>
    </section>
</main>