<main id="<%= pageName %>" stylingname="resource">

    <section>

        <h1>Offline page</h1>

        <p>Het lijkt erop dat je momenteel geen internet tot je beschikking hebt om deze pagina te bezoeken. Het dashboard is wel altijd beschikbaar
            maar kan zonder internetverbinding helaas niet worden geupdate. Je zal hier dus misschien niet de meest recente data zien.</p>

        <a href="/">Terug naar het dashboard
            <img src="/media/icons/arrow-right.svg" alt="arrow-right"></img>
        </a>

    </section>