<main id="<%= pageName %>" stylingName="details">

    <urgent-announcement message="" uid=""></urgent-announcement>

    <section>
        <p><%= announcement.title %></p>
        <p><%= announcement.content %></p>
    </section>
</main>