// Colors
$main-color: #EBB22E;
$base-color: #ffffff;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 960px;
$breakpoint-tablet: 780px;
$breakpoint-mobile: 400px;

$font-light: "Custom font", "Roboto", "Arial", sans-serif;
$font-book: "Custom font", "Roboto", "Arial", sans-serif;
$font-medium: "Custom font", "Roboto", "Arial", sans-serif;
$font-bold: "Custom font", "Roboto", "Arial", sans-serif;