@font-face {
    font-family: OpenSans-Regular;
    src: url(../media/fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../media/fonts/OpenSans-Italic.woff);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../media/fonts/OpenSans-Bold.woff);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../media/fonts/OpenSans-ExtraBold.woff);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../media/fonts/OpenSans-BoldItalic.woff);
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../media/fonts/OpenSans-ExtraBoldItalic.woff);
}