@mixin font-Regular {
    font-family: "OpenSans-Regular", $backup-fonts;
}

@mixin font-Italic {
    font-family: "OpenSans-Italic", $backup-fonts;
}

@mixin font-Bold {
    font-family: "OpenSans-Bold", $backup-fonts;
}

@mixin font-ExtraBold {
    font-family: "OpenSans-ExtraBold", $backup-fonts;
}

@mixin font-BoldItalic {
    font-family: "OpenSans-Bold", $backup-fonts;
}

@mixin font-ExtraBoldItalic {
    font-family: "OpenSans-ExtraBoldItalic", $backup-fonts;
}