body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;


    #menu {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }


    main {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        max-height: 100vh;
        overflow-y: scroll;
    }
}