//Colors
$main-purple: #25167A;
$dark-purple: #1A0C55;
$light-purple: #302281;
$extra-light-purple: #46398E;
$main-grey: #F2F2F2;
$light-grey: #DDDDDD;
$dark-grey: #666666;
$main-pink: #ECE7FA;
$main-black: black;
$main-white: white;
$light-white: rgba(255, 255, 255, 0.75);


//Breakpoints
$max-mobile-width: 425px;
$max-tablet-width: 768px;


//Miscellaneous
$menu-width: 325px;