//Colors
$main-purple: #25167A;
$dark-purple: #1A0C55;
$light-purple: #3B2E88;
$extra-light-purple: #514595;
$main-green: #007D68;
$main-grey: #F2F2F2;
$light-grey: #DDDDDD;
$dark-grey: #666666;
$main-pink: #ECE7FA;
$main-black: black;
$opacity-black: rgba(0, 0, 0, .75);
$main-white: white;
$light-white: rgba(255, 255, 255, 0.75);


//Color codes
$code-red:#DC143C;
$code-blue:#149EDC;
$code-yellow:#DCB614;
$code-green:#14DC69;


//Breakpoints
$max-mobile-width: 425px;
$max-tablet-width: 768px;


//Miscellaneous
$menu-width: 355px;