//Colors
$main-purple: #25167A;
$dark-purple: #1A0C55;
$light-purple: #302281;
$main-grey: #F2F2F2;
$dark-grey: #666666;
$main-pink: #ECE7FA;
$main-black: black;
$main-white: white;
$light-white: rgba(255, 255, 255, 0.75);