@import "../../global/fonts/mixins";

#announcements {
    @include text;

    h2 {
        @include h2;
    }

    #announcements-container {
        a {
            margin: 0 0 15px 0;
            display: block;
            color: $main-black;
            text-decoration: none;


            &:hover {
                background-color: $main-grey;
            }

            &:focus {
                background-color: $light-grey;
            }
        }

        .announcement {
            margin: 0;
            padding: 5px 0 5px 10px;
            border-left: 5px solid;

            &.Opleiding {
                border-color: $code-red;
            }

            &.Faciliteit {
                border-color: $code-yellow;
            }

            &.HvA {
                border-color: $code-blue;
            }

            &.Medezeggenschap {
                border-color: $code-green;
            }


            p:first-of-type {
                @include font-Bold;
            }

            p:last-of-type {
                color: $dark-grey;
                font-size: 14px;
            }
        }
    }

    &>a {
        @include widgetLink;
    }
}