#course-overview {
    @include text;

    h2 {
        @include h2;
    }

    .navigator {
        background-color: $light-grey;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $main-purple;
        font-size: 16px;

        img {
            padding: 10px;
        }

        img:not(.disabled) {
            cursor: pointer;
        }

        .disabled {
            pointer-events: none;
            opacity: .5;
        }
    }

    .course {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        padding: 15px 20px;
        border-bottom: 1px solid $light-grey;

        p:first-of-type {
            @include font-Bold;
            align-self: center;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            align-self: center;

            li {
                display: inline;

                &:not(:last-of-type):after {
                    content: ", ";
                    white-space: pre;
                }
            }
        }
    }

    @include widgetLink;
}