#course-overview {
    h2 {
        @include h2;
    }

    .navigator {
        background-color: $light-grey;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $main-purple;
        font-size: 16px;

        img {
            padding: 10px;
        }

        img:not(.disabled) {
            cursor: pointer;
        }

        .disabled {
            pointer-events: none;
            opacity: .5;
        }
    }

    #course-overview {
        .course {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            padding: 15px 20px;
            border-bottom: 1px solid $light-grey;

            p:first-of-type {
                @include font-Bold;
            }

            p:last-of-type {
                align-self: center;
            }
        }
    }

    a {
        margin-top: 30px;
        text-decoration: none;
        color: $main-purple;
        display: flex;
        align-items: center;

        img {
            height: 12px;
            margin-left: 20px;
        }
    }
}