#resource {
    @include text;
    margin-left: 325px;
    padding: 10vh 10vw;


    h2 {
        @include h2;
    }


    h3 {
        @include h3;
    }


    article {
        margin-top: 25px;

        p {
            margin-bottom: 10px;
        }
    }


    a {
        display: block;
        color: $main-black;
    }

    .call_to_action {
        width: fit-content;
        margin-top: 30px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $main-purple;
        color: $main-white;
        padding: 10px 20px;

        &:hover {
            background-color: $light-purple;
        }

        &:focus {
            background-color: $extra-light-purple;
        }
    }
}